body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #0d1117, #161b22);
  color: white;
}

/* CONTENEDOR CENTRADO */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* LOGIN CARD */
.login-box {
  background: #161b22;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  border: 1px solid #30363d;
}

/* TITULOS */
.login-box h1 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #8b949e;
  margin-bottom: 20px;
}

/* INPUTS */
input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
  background: #0d1117;
  color: white;
  border: 1px solid #30363d;
}

input:focus {
  outline: none;
  border: 1px solid #58a6ff;
}

/* BOTONES */
button {
  padding: 12px;
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

/* BOTÓN PRINCIPAL */
.btn-primary {
  background: #238636;
  color: white;
}

.btn-primary:hover {
  background: #2ea043;
}

/* BOTÓN EMERGENCIA */
.btn-emergency {
  background: #da3633;
  color: white;
}

.btn-emergency:hover {
  background: #ff4d4d;
}
/* PANEL ADMIN */
.panel {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
}

/* TARJETAS */
.card {
  background: #161b22;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  border: 1px solid #30363d;
  text-align: left;
}

.card button {
  background: #238636;
  margin-top: 10px;
}
